.tile__selection-button {
  width: 100%;
  border: 1px solid #89375f;
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  color: #89375f;

  cursor: pointer;

  transition: background-color 0.1s ease, color 0.1s ease, opacity 0.1s ease;
}

.tile__selection-button--selected {
  background-color: #89375f;
  color: #ffffff !important;
}

.tile__selection-button__icon-text{
  display: grid;
  justify-content: center;
  gap: 0.4rem;
  grid-template-columns: repeat(3,33%);
  grid-template-rows: 2.5rem;
}

.tile__selection-button__icon {
  width: 1.5rem;
  height: 1.5rem;
  content: url("../../../../public/icons/icon-check.svg");
  justify-self: right;
  opacity: 0;
}

.tile__selection-button__icon--selected{
  opacity: 1;
  align-self: center;
}

.tile__selection-button__label {
  margin-bottom: 2px;
  justify-self: left;
  align-self: center;
}

.tile__selection-button:hover {
  color: rgba(137, 55, 95, 0.9);
  -webkit-box-shadow: 0px 0px 3px 0px #89375f;
  -moz-box-shadow: 0px 0px 3px 0px #89375f;
  box-shadow: 0px 0px 3px 0px #89375f;
}

.tile__price_details {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (min-width: 990px) {
  .price-button-wrapper {
    align-self: end;
  }

  .tile__selection-button--selected {
    height: 2.7rem;
    padding: 0.5rem !important;
    /* display: grid;
    grid-template-columns: 2rem 8rem; */
    border: 1px solid #ffffff;
    background-color: #89375f;
    color: #ffffff !important;
  }

  .tile__selection-button__label {
    justify-self: left;
    margin-top: 2px;
  }
}
