html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  height: 4rem;
  padding-left: 2rem;

  background-color: #89375f;
}

.header__title {
  min-width: 24rem;
  max-width: 60%;
  margin: 0 auto;

  position: relative;
  top: -3rem;

  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  }
.content-wrapper {
  /* background-color: aqua; */
  min-width: 24rem;
  max-width: 50%;
  margin: 0 auto;
}

.tile {
  max-width: 30rem;
  padding: 1rem;
  margin: 0 auto;
  border-top: 2px solid;
  border-right: none;
  border-bottom: 1px solid;
  border-left: none;
  border-color: #e0e0e0;
}

.tile__image{
  margin-bottom: 1rem;
}

.tile__image > img {
  border-radius: 0.5rem;
  width: 100%;
  height: 9rem;
  object-fit: cover;
  object-position: center 60%;
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
