html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App-header {
  font-size: 1.5rem;
    font-weight: bold;
    height: 4rem;
    background-color: #89375F;
    padding-left: 2rem;
}