.selection-basket__wrapper {
  position: relative;
  cursor: pointer;
}

.selection-basket__wrapper > div {
  position: absolute;
  left: 0.75rem;
  top: 0.75rem;
  font-size: 0.75rem;
  background-color: #159895;
  padding: 0 0.3rem;
  border-radius: 20px;
}

.selection-basket__modal-wrapper {
  position: fixed;
  background-color: rgb(21, 152, 149, 0.4);
  height: 100dvh;
  width: 100dvw;
  top: 0;
  left: 0;
  display: grid;
  place-items: center center;
}

.selection-basket__modal {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 1rem;
  min-width: 15rem;
  display: grid;
  grid-template-rows: 1rem 100%;
}

.selection-basket__modal__close {
  font-size: 1rem;
  color: #333333;
  height: 1rem;
  width: 1rem;
  font-weight: 700;
  cursor: pointer;
  justify-self: right;
}

.modal-content {
  color: #333333;
  padding: 0 1rem;
}

.modal-content > a {
  text-decoration: none;
  color: #333333;
}

.modal-content__hotel-shorts {
  padding: 1rem;
  margin-bottom: 2rem;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.modal-content__hotel-shorts:hover {
  color: #757575;
}

.modal-content__hotel-shorts > h4 {
  margin: 1rem 0 0 0;
}

.modal-content__location {
  font-size: 0.75rem;
}
